/* Import synced design tokens */
@import './styles/css/base.css';
@import './styles/css/dark.css';

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
@layer base {
  body {
    @apply font-sans bg-neutral-50 text-neutral-900;
    @apply dark:bg-neutral-900 dark:text-neutral-50;
    transition: background-color 0.2s, color 0.2s;
  }
}
